@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
body{
  background:url(http://i.imgur.com/b6yfmnE.png);
}

h1{
  font-size: 55px;
  color:#14F074;
  font-family: 'Oxygen Mono', monospace;
  text-align: center;
}